.table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    &:first-child {
      min-width: 80px;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &:nth-child(n+3):nth-child(-n+9) {
      max-width: 80px;
      min-width: 60px;
    }

    &:last-child {
      width: 60px;
    }
  }

  td {

    &:first-child {
      font-weight: bold;
    }

    &:nth-child(2) {
      text-align: left;
    }
  }

}

